<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuzuro.mappers.boardMapper">
    
    <!-- 작성 -->
	<insert id="write">
		insert into myBoard(bno, title, content, writer)
    		values (myBoard_seq.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<!-- 조회 -->
	<select id="read" resultType="com.kuzuro.domain.BoardVO">
		select bno, title, content, writer, regDate, viewCnt
			from myBoard
				where bno = #{bno}
	</select>

	<!-- 수정 -->	
	<update id="update">
		update myBoard
			set
				title = #{title},
				content = #{content}
			where bno = #{bno}		
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from
			myBoard
		where bno = #{bno}
	</delete>
	
	<!-- 목록 -->
	<select id="list" resultType="com.kuzuro.domain.BoardVO">
		select bno, title, writer, regDate
    		from myBoard
        		order by bno desc
	</select>
	
	<!-- 페이징 -->
	<select id="listPage" resultType="com.kuzuro.domain.BoardVO" 
	parameterType="com.kuzuro.domain.Criteria">
	    select bno, title, content, writer, regDate, viewCnt
        from (
            select bno, title, content, writer, regDate, viewCnt,
                row_number() over(order by bno desc) as rNum
            from myBoard
    		) mb 
    	where rNum between #{rowStart} and #{rowEnd}
        	order by bno desc
	</select>
	
	
	<select id="listCount" resultType="int">
	<![CDATA[
		select count(bno)
			from myBoard
				where bno > 0
	]]>
	</select>
	
	
	
<!-- 검색 -->
<select id="listSearch" resultType="com.kuzuro.domain.BoardVO" 
parameterType="com.kuzuro.domain.SearchCriteria">
select bno, title, content, writer, regDate, viewCnt
       from (
           select bno, title, content, writer, regDate, viewCnt,
               row_number() over(order by bno desc) as rNum
           from myBoard
   			<include refid="search"></include>
   		) mb 
   	where rNum between #{rowStart} and #{rowEnd}
       	order by bno desc
</select>

<sql id="search">
	<if test="searchType != null">
		<if test="searchType == 't'.toString()">where title like '%' || #{keyword} || '%'</if>
		<if test="searchType == 'c'.toString()">where content like '%' || #{keyword} || '%'</if>
		<if test="searchType == 'w'.toString()">where writer like '%' || #{keyword} || '%'</if>
		<if test="searchType == 'tc'.toString()">where (title like '%' || #{keyword} || '%')
													or (content like '%' || #{keyword} || '%')</if>
	</if>
</sql>
	
	
	
<select id="countSearch" resultType="int">
	select count(bno)
		from myBoard
			<include refid="search"></include>
<![CDATA[
			and bno > 0
]]>
</select>
		
	
</mapper>